@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	margin:0px;
	padding:0px;
}
body{
	padding:10px;
}
body#light{
	--background:#fef6eb;
	--text-primary: #128349;
	--filter-url: url("#128349");
}
body#dark{
	--background:#284e3b;
	--text-primary: #fef6eb;
	--filter-url: url("#fef6eb");
}

body{
	background-color: var(--background);
	color:var(--text-primary);
}
body *{
	color:var(--text-primary);
}


#maincontainer > *:not(:last-child) {
    border-bottom: 1px solid var(--text-primary);
}

img{
	position: relative;
}
img::after{
	content:" ";
	width:100%;
	height:100%;
	background-color: var(--text-primary);
}

/* FONTS */
/* .font-mono{
	font-family: 'IBM Plex Mono', monospace;
}
.font-chivo{
	font-family: 'Chivo', sans-serif;
} */

/* BORDER */
.border-r{
	border-right: 1px solid var(--text-primary);
}
.border-b{
	border-bottom: 1px solid var(--text-primary);
}

/* bg */
.invert{
	background: var(--text-primary);
	color: var(--background);
	border-color:var(--text-primary);
}
.invert > *{
	background:inherit;
	color:inherit;
	border-color: inherit;
}
